$blue: #45A4FE;

.queryPage {
  font-family: "Lato";
  font-size: 14px;
  color: hsl(0, 1%, 36%);

  .text-light {
    color: hsl(0, 0%, 83%);
  }

  .btn-primary {
    background: $blue;
  }

  .left {
    background: white;
    width: 280px;
    border-right: 1px solid hsl(210, 8%, 85%);
    padding: 15px;
    .form-group label {
      font-weight: 900;
    }
    .tableColumnsInfo {
      label {
        font-weight: 900;
      }
      p {
        border-top: 1px solid hsl(210, 8%, 85%);
        font-weight: bold;
        margin: 0;
        padding: 2px 4px;
        span {
          padding-top: 1px;
          float: right;
          font-weight: 400;
          font-size: 13px;
        }
      }
    }
  }

  .right {
    background: white;
    .queryEditorContainer {
      background: #EFF1F6;
      height: 331px;
      min-height: 331px;
      .ace_editor { height: 100%; }
      .ace_editor {
        border: none;
        background-color: #eff1f6;
      }

      .ace_editor .ace_gutter {
        color: rgba(0,0,0,0.2);
        background-color: rgba(173, 183, 204, 0.07);
      }

      .ace_editor .ace_cursor {
        color: #45A5FF;
      }

      .ace_editor .ace_marker-layer .ace_active-line,
      .ace_editor .ace_gutter-active-line {
        background-color: rgba(255,255,255,0.6);
      }

      .editor-resize-handle {
        color: #a4a9b6;
      }
    }

    .editorMenu {
      background-image: linear-gradient(hsl(0, 100%, 100%), hsl(225, 33%, 98%));
      border-bottom: 1px solid hsl(210, 8%, 85%);
      border-top: 1px solid hsl(210, 8%, 85%);
      height: 42px;
      min-height: 42px;
      .nav-pills > li > a {
        padding: 10px 8px;
        margin-bottom: -1px;
      }

      .nav-pills > li > a,
      .nav-pills > li > a:hover,
      .nav-pills > li > a:focus {
        border-radius: 0;
        background: none;
        color: #d3d3d3;
      }

      .nav-pills > li.active > a,
      .nav-pills > li.active > a:hover,
      .nav-pills > li.active > a:focus {
        background: none;
        color: #2180D8;
        border-bottom: 3px solid #45A5FF;
        border-radius: 0;
      }
      .runBtnContainer {
        display: flex;
        align-items: center;
        margin-right: 15px;
        .btn {
          padding: 4px 12px;
        }
      }
    }

    .infoContainer {
      overflow: auto;
      #tablePreview {
        th {
          color: hsl(0, 0%, 53%);
          background-image: linear-gradient(hsl(0, 100%, 100%), hsl(225, 33%, 98%));
        }
        &.zebraStyle tbody > tr:nth-child(2n) > td {background: #EFF1F6;}
        &.zebraStyle tbody > tr:nth-child(2n+1) > td {background: #fff;}
      }
      .infoHelperText {
        padding: 20px;
      }
      #recentQueries {
        padding: 10px;
        .recentQuery {
          position: relative;
          .saveQueryBtn {
            position: absolute;
            top: 8px;
            right: 10px;
            padding: 2px 4px;
          }
        }
        pre:hover {
          border-color: $blue;
          cursor: pointer;
        }
      }
    }

  }

}
