<div class="container">

<h1>Angular & Rails on Heroku Base Project</h1>
<h2>By Don Pinkus</h2>
<h4>April 11, 2015</h4>

<br/>

<h4>This is a Rails & AngularJS app that is ready to be deployed on Heroku.</h4>
<p>You can immediately start using AngularJS and Rails, and deploy to Heroku without any configuration.</p>
<p>This is the most unopinionated and barebones base project for Rails & AngularJS I could make.</p>

<h4>Why?</h4>
<p>Configuring AngularJS to work with Rails asset pipeline is annoying. Configuring all of it to work with Heroku is also annoying. This saves me (and hopefully you) the configuration annoyance for future Angular & Rails projects.</p>

<h4>What comes with the project?</h4>
<p>Nothing. It's a base project. It has AngularJS and Bootstrap UI. You can remove Bootstrap UI by deleting one line of code in application.css. Oh, it also has this splash page.</p>

<h4>How is the base project organized?</h4>
<p><b>Rails</b> app is organized in the exact same way as if you just do `rails new` in your console.</p>
<p><b>AngularJS</b> app is all inside of <code>/app/assets/javascripts</code>. I use <code>/app/assets/javascript/app.js</code> for the main app, but you don't have to. I also made a folder for my angular templates in <code>/app/assets/javascripts/</code>, but you can include any angular stuff from anywhere inside of <code>/app/assets/javascripts</code>. 

<h4>Adding new gems</h4>
<p>Use the <code>gemfile</code> like normal.</p>

<h4>Adding JS libraries</h4>
<p>This uses <b>Bower</b> for Rails. Lot of advantages over trying to use gems for JS libraries, but for brevity I won't go into them here. Basically JS libraries are better versioned in Bower, and you can include almost anything you want.</p>
<ol>
<li>Open <code>/Bowerfile</code>. Add a line for the JS library to include, for example <code>asset 'bootstrap'</code>.</li>
<li>Open your console in your project's root directory. Run <code>rake Bower:install</code> to download the JS assets. Assets will be downloaded to <code>/vendor/assets/bower_components/</code>.</li>
<li>Open your <code>application.js</code> file. Add a line including your new JS component. I've included the Angular components there so you can see examples of how this is done.</li>
</ol>

</div>

<a target="_blank" href="https://github.com/donpinkus/rails-angular-heroku-base-project"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>